body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    color: #333333;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 12px;
    background-color: #9ED2C6;
    * {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    > * {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    a {
        color: #3333AA;
        text-decoration: underline;
    }
}
.title {
    font-size: 48px;
    padding: 4px;
    font-family: 'Antonio', sans-serif;
}
.description {
    font-size: 16px;
    padding: 4px;
}
.link {
    padding: 4px;
}
.game-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7ECDE;
    border-radius: 24px;
    padding: 24px;
    .game-description {
        margin-top: 24px;
        .card-title {
            font-weight: 700;
        }
    }
}